<!-- Navbar -->
<nav class="relative container mx-auto p-6">
    <!-- Flex container -->
    <div class="flex items-center justify-between">
        <!--Logo -->
        <div class="pt-2">
            <p>logo here</p>
        </div>
        <!-- Menu Items -->
        <div class="hidden md:flex space-x-6">
            <a href='#' class="hover:text-darkGrayishBlue">Pricing</a>
            <a href='#' class="hover:text-darkGrayishBlue">My Memoir</a>
            <a href='#' class="hover:text-darkGrayishBlue">Things</a>
            <a href='#' class="hover:text-darkGrayishBlue">Stuff</a>
            <a href='#' class="hover:text-darkGrayishBlue">Weapons</a>
        </div>
        <!--  Button -->
        <a href="#" class="hidden md:block p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">
            Get Started
        </a>
    </div>
</nav>